<!DOCTYPE html>
<!--타임리프적용-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>exer1</title>
</head>
<body>
<h1>exer1</h1>
<form action="exer1Reg" method="post" name="exer1">
<table>
    <tr>
        <td>반</td>
        <td>이름</td>
        <td th:each="i : ${#numbers.sequence(1, tl)}">
            <input type="text" name="titles" th:value="'과목' + ${i}" />
        </td>
    </tr>
    <!--인덱스를 사용하기 위해 시퀀스를 0부터-->
    <tr th:each="i : ${#numbers.sequence(0, sl-1)}">
        <td><input type="text" th:name="|studs[${i}].ban|" th:value="${rban[i]}" /></td>
        <td><input type="text" th:name="|studs[${i}].name|" th:value="'학생' + ${i+1}" /></td>
	    <td th:each="j : ${#numbers.sequence(0, tl-1)}">
	        <input type="text" th:name="|studs[${i}].jumsu|" th:value="${rjum[tl*i+j]}" />
	    </td>
    </tr>
    <tr>
        <td colspan="5"><input type="submit" value="전송"></td>
    </tr>
</table>
</form>
</body>
</html>