<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>우직 결제폼</title>
</head>
<body>
<h1>결제폼</h1>
<form action="" method="post" th:object="${exer5Data}">
	<table border="">
		<tr>
			<td>상점아이디</td>
			<td><input type="text" th:field="*{mid}" /></td>
		</tr>
		<tr>
			<td>상품이름</td>
			<td>
				<select th:field="*{gname1}">
					<option th:each="gl : *{gname1}" th:value="${gl.url}" th:text="${gl.txt}" />
				</select>
				<select th:field="*{gname2}">
					<option th:each="gr : *{gname2}" th:value="${gr.url}" th:text="${gr.txt}" />
				</select>
				<select th:field="*{gname3}">
					<!--왜안돼?? - 아마 gt가 이미 있는 단축어? 약어? 라서 안된듯? - 아닌가...?-->
					<option th:each="gtime : *{gname3}" th:value="${gtime.url}" th:text="${gtime.txt}" />
				</select>
			</td>
		</tr>
		<tr>
			<td>상품가격</td>
			<td>
				<input type="text" th:field="*{price}" />
			</td>
		</tr>
		<tr>
			<td>구매자 아이디</td>
			<td><input type="text" th:field="*{bid}" /></td>
		</tr>
		<tr>
			<td>구매자명</td>
			<td><input type="text" th:field="*{bname}" /></td>
		</tr>
		<tr>
			<td>카드번호</td>
			<td><input type="text" th:field="*{cardnum}" /></td>
		</tr>
		<tr>
			<td>카드 유효기간</td>
			<td>
				<select th:field="*{cardexpm}">
					<option th:each="m : *{cardexpm}" th:value="${m}" th:text="${m}"/>
				</select>월/&nbsp;
				<select th:field="*{cardexpy}">
					<option th:each="y : *{cardexpy}" th:value="${y}" th:text="${y}"/>
				</select>년
			</td>
		</tr>
		<tr>
			<td>생년월일</td>
			<td><input type="text" th:field="*{authfield1}" placeholder="YYMMDD"/></td>
		</tr>
		<tr>
			<td>카드비밀번호앞2자리</td>
			<td><input type="password" th:field="*{authfield2}" placeholder="**" style="width: 20px"/>**</td>
		</tr>
		<tr>
			<td>구매자 이메일주소</td>
			<td>
				<input type="text" th:field="*{bemail1}" />@
				<select th:field="*{bemail2}">
					<option th:each="em : *{bemail2}" th:value="${em.value}" th:text="${em.key}" />
				</select>
			</td>
		</tr>
	</table>
</form>
</body>
</html>