<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>stsMvcProj</title>
</head>
<body>

<h1>stsMvcProj</h1>

<h2>request</h2>
<a href="request/attr1">attr1</a>
<a href="request/attr2">attr2</a>
<a href="request/attr3">attr3</a>
<!--<a href="request/attr4?age=33&nick=zxcv&jum=56&jum=59&jum=52">attr4</a>-->
<a href="request/attr4?age=33&nick=zxcv&jum=56,59,52">attr4</a>
<a href="request/attrForm">attrForm</a>
<a href="request/joinForm">joinForm</a>
<!--get 방식으로 갈 것이므로 자동으로 orderForm으로 감-->
<a href="request/order">order</a>
<br>
<a href="request/param1?id=aaa&age=45&marriage=true">param1</a>
<a href="request/param2?id=bbb&age=34&marriage=true">param2</a>
<a href="request/param1?id=ccc">param1</a>
<!--null이 떠서 오류남-->
<a href="request/param2?id=ddd">param2(오류)</a>
<!--이름이 달라서 오류남-->
<a href="request/param3?id=eee&age=27&marriage=true">param3(오류)</a>
<a href="request/param3?id=fff&aaa=23&mrg=true">param3</a>
<!--param 값이 없으면 null이 떠서 오류남-->
<a href="request/param3?id=ggg">param3(오류)</a>
<a href="request/param4?id=hhh&aaa=28&mrg=true">param4</a>
<a href="request/param4?id=iii">param4</a>
<a href="request/coffee">coffeeOrder</a>
<a href="request/exam">exam(과제)</a>

<h2>redirect(to로)</h2>
<a href="red/from1">from1</a>
<a href="red/from1?id=aaa&age=44&marriage=true">from1</a>
<a href="red/from2">from2(모델로 전달-x)</a>
<a href="red/from3">from3(mav로 전달 -o)</a>
<a href="red/from4?id=ddd&age=25&marriage=false">from4(param전달-출력x)</a>
<a href="red/from5?id=eee&age=27&marriage=false">from5(정보o)</a>
<a href="red/from6?id=fff&age=31&marriage=true">from6(정보o)</a>

<h2>file</h2>
<a href="file/upload">upload</a>

<h2>cookie</h2>
<a href="cookie/make1">make1</a>
<a href="cookie/make2">make2</a>
<a href="cookie/view">view</a>
<a href="cookie/delete">delete</a>
<a href="cookie/loginMain">로그인메인</a>

<h2>thymeleaf</h2>
<a href="thymeleaf/calc">calc</a>
<a href="thymeleaf/control">control</a>
<a href="thymeleaf/lay">레이아웃</a>

<h2>session</h2>
<a href="session/make1">make1</a>
<a href="session/make2">make2</a>
<a href="session/view">view</a>
<a href="session/delete">delete</a>
<a href="session/loginMain">로그인메인</a>

<h2>model</h2>
<a href="model/mmm1">mmm1(오류:no값이없어서)</a>
<a href="model/mmm2">mmm2(오류:no값이없어서)</a>
<a href="model/mmm1?no=1">mmm1-1</a>
<a href="model/mmm1?no=2">mmm1-2</a>
<a href="model/mmm2?no=1">mmm2-1</a>
<a href="model/mmm2?no=2">mmm2-2</a>
<a href="model/season?sn=spring">season</a>

<h2>path</h2>
<!--cate가 중간에 없어서 기본페이지로 빠짐-->
<a href="path/aaa">aaa(404오류)</a>
<a href="path/tv/aaa">tv/aaa</a>
<a href="path/phone/bbb">phone/bbb</a>
<!--{ser}!=list-->
<a href="path/notice/list/2">notice/list/2(오류)</a>
<a href="path/notice/detail/4">notice/detail/4</a>
<a href="path/notice/modify/5">notice/modify/5</a>

<h2>provider</h2>
<a href="provider/list">list</a>
<!--bat: Battery(name=로케트밧데리, size=500)-->
<a href="provider/bat1">bat1</a>

<h2>form/form</h2>
<a href="form/form">form</a>
<a href="form/link">link</a>
<a href="form/validation">validation</a>

<h2>interceptor</h2>
<a href="event/gogo">gogo</a>
<a href="admin/aaa">admin/aaa</a>
<a href="admin/bbb">admin/bbb</a>
<a href="admin/ccc">admin/ccc</a>
<a href="admin/ddd">admin/ddd</a>

<h2>exer</h2>
<a href="exer1/form">exer1</a>
<a href="exer2/param?name=아프리카노">exer2param</a>
<a href="exer3/cookie">exer3cookie</a>
<a href="exer4/ban">exer4ban</a>
<a href="model2/season?sn=spring">season2(프로바이더연동해야함)</a>
<a href="exer5/form">exer5form</a>
<a href="exer6/valid">exer6validation</a>
</body>
</html>